{
  "expo": {
    "name": "mobile",
    "slug": "mobile",
    "version": "1.0.0",
    "orientation": "portrait",
    "icon": "./assets/icon.png",
    "userInterfaceStyle": "light",
    "newArchEnabled": true,
    "splash": {
      "image": "./assets/splash-icon.png",
      "resizeMode": "contain",
      "backgroundColor": "#ffffff"
    },
    "ios": {
      "supportsTablet": true
    },
    "android": {
      "adaptiveIcon": {
        "foregroundImage": "./assets/adaptive-icon.png",
        "backgroundColor": "#ffffff"
      },
      "edgeToEdgeEnabled": true,
      "predictiveBackGestureEnabled": false
    },
    "web": {
      "favicon": "./assets/favicon.png"
    },
    "extra": {
      "firebase": {
        "apiKey": "YOUR_FIREBASE_API_KEY_HERE",
        "authDomain": "eventhub-eedee.firebaseapp.com",
        "projectId": "eventhub-eedee",
        "storageBucket": "eventhub-eedee.firebasestorage.app",
        "messagingSenderId": "831774299826",
        "appId": "1:831774299826:web:acce235b6800b317ed5bab"
      }
    }
  }
}
